/* -------------CUSTOM PROPERTIS------------- */
:root {
  --max-width: 1200px;
  --mobile-header-height: 70px;
  --desktop-header-height: 120px;
  --font-principal: "Zen Kaku Gothic Antique", sans-serif;
}
/* ------------RESETS------------- */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-principal);
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: #e7e7e7;
}
ul {
  padding: 0;
  list-style: none;
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
/* -------------IMPORTACION DE FONTS--------------- */
@font-face {
  font-family: "SansitaOne";
  src: url("../assets/SansitaOne.ttf");
}
@font-face {
  font-family: "SansationRegular";
  src: url("../assets/SansationRegular.ttf");
}
@font-face {
  font-family: "SansationLight";
  src: url("../assets/SansationLight.ttf");
}

.wp {
  position: fixed;
  z-index: 997;
  bottom: 5px;
  right: 0;
  width: 70px;
  height: 70px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  

}

.header-container {
  margin: 0 auto;
  background-color: #272727;
  height: var(--mobile-header-height);
}
.desktop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--mobile-header-height);
}
.logo {
  height: 50px;
  width: 50px;
  user-select: none;
  z-index: 501;
}


.logotxt {
  font-size: 32px;
  font-family: "Sahitya", serif;
  padding: 0px;
  color: #ffffff;
  margin-left: 50px;
  user-select: none;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}
.menu {
  position: fixed;
  top: var(--mobile-header-height);
  width: 100%;
  background-color: #272727;
  max-width: var(--max-width);
  margin: 0px auto;
}

.menu-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.menu-li {
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
}
.menu-li > a {
  display: block;
  padding: 20px;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
}

.menu-li > a:hover {
  /* background-color: #fa7b26; */
  /* transform: scale(1.1); */
  transition: all 0.5s ease;
  /* border-top: 4px solid #fa7b26;
  border-bottom:4px solid #fa7b26; */
  background-color:#fa7b26 ;

 
}

.menu-li > a > i {
  margin-right: 20px;
}

.menu_bars {
  font-size: 25px;
  padding: 0px;
  width: 50px;
  height: 50px;
  margin:10px;
  background-color: #f1772f;
  border: 1px solid #ff5e00;
  border-radius: 4px;
}
.menu-li img{
  width: 30px;
  height: 30px;
  margin-right: 20px;


}

.search {
  display: none;
}

.btn-menu {
  background-color: #fa7b26;
  font-size: 25px;
  /* border: none; */
  border-radius: 30px;
  padding: 8px 90px;
  font-family: var(--font-principal);
  color: #fff;
  text-decoration: none;
  width: inherit;

}
.centrado-principal{
  max-width: var(--max-width);
  margin: 0 auto;

}
.principal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 0px;
  margin: 0 auto;
  background-image: url("../bg-burger.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 30%;
}

.principal-h1 > h1 {
  width: 100%;
  color: #fff;
  text-shadow: 2px 2px 5px black;
  font-size: 34px;
  padding: 20px;
  padding-top: 0;
  align-self: flex-start;
  z-index: 400;
}

.none {
  display: none;
}

/* ------------------------------MENU MOBIL------------------------------ */
.menu {
  /* transform: translate(0%,100%); */
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}
.menu_visible {
  /* transform: translate(0%,0%); */
  opacity: 0.95;
  transition: 0.5s;
  pointer-events: auto;
}

.titulo-hamburguesas,
.titulo-bebidas,
.titulo-ensaladas,
.titulo-promos,
.titulo-contactos {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #f1772f;
  font-family: SansitaOne, sans-serif;
  text-align: center;
  font-size: 36px;
  padding-top: 70px;
  background-color: #191919;

}
.comida,
.bebida,
.ensalada,
.promos,
.contactos {
  background-color: #191919;
 
}

.hr_hamburguesas,
.hr_bebidas,
.hr_ensaladas,
.hr_promos,
.hr_contactos {
  width: 60%;
  height: 4px;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 40px;
}
.cards_comida,
.cards_bebida,
.cards_ensalada,
.cards_promo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* justify-content: center; */
  /* margin: 0% auto; */
}
.card {
  width: 95%;
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
  justify-content: center;

  min-height: 300px;
  flex-wrap: nowrap;
  background-color: #ffffff;
  border-radius: 27px 0 27px 0;
  margin: 0 auto;
  margin-bottom: 20px;
}


.imgcard {
  border-radius: 27px 0 0 0;
  /* max-width:100%; */
  height: 100%;
  object-fit: cover;
  object-position: 50% 10%;
}

.cardDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.cardDescription > p {
  padding: 5px;
}

.divcardImg {
  border-radius: 27px 0 0 0;
  width: 50%;
  overflow: hidden;
}

.foot-card{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

}
.precio {
  /* width: 50%; */
  font-size: 24px;
  /* text-align: right; */
  margin: 0px;
  margin-right: 10px;
  /* margin-bottom: 10px; */
  font-family: SansationLight, sans-serif;
}
.precio::before {
  margin: 0;
  color: #f1772f;
  font-size: 20px;
  font-family: SansationRegular, sans-serif;
  content: "$";
}

.btn_card{
  border:none;
  background-color:#f1772f;
  width: 35px;
  height: 35px;
  cursor: pointer;
  
  margin: 0px;
  margin-left: 5px;
  /* margin-bottom: 10px; */
  font-family: SansationLight, sans-serif;
}
.btn_card:hover{
  background-color:#f1762fea;

  
}

.cards_contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.form {
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}
.form_contactos {
  display: flex;
  flex-direction: column;
  background-color: #191919;
}

.frm_label {
  width: 95%;
  color: #ffffff;
  margin: 0px;
  margin-left: 10px;
  font-weight: 900;
  
}
.frm_name,
.frm_dir,
.frm_email,
.frm_asunto,
.frm_msg{
  display: block;
  margin: 0 auto;
  width: 90%;
  padding: 8px;
  margin-bottom: 20px;
  font-weight: 900  ;

}
.frm_msg {
  overflow: scroll;
  resize: none;
}
.frm_btn_send {
  display: flex;
  justify-content: flex-end;
}



.btn_enviar {
  margin: 0px 20px;
  letter-spacing: 2px;
  padding: 8px 40px;
  border: none;
  background-color: #f1772f;
  font-weight: 900;
  color: #ffffff;
  cursor: pointer;
}

.btn_enviar:hover{
  opacity: .8;

}




.modal{
position: fixed;
top: 0;
bottom: 0;
right: 0;
left: 0;
background-color: #00000083;
z-index: 999;

display: flex;
justify-content: center;
align-items: center;

opacity: 0;
pointer-events: none;
}
.modal#gracias:target{
  opacity: 1;
  pointer-events: auto;
  }
.modal-content{
  width: 500px;
  height: 250px;
  margin: 0 5px;
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  
}
.modal-content h3{
  margin: 10px

}

.modal-content svg{
  fill: #ff5e00;
  height: 50px;
  width: 50px;
  margin: 10px
}
.form_contact_loader svg{
  position: absolute;
  top: 50%;
  right: 50%;
  

}
.ubicacion {
  width: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.horarios {
  font-size: 24px;
  color: #ffffff;

}
.mapa{
  width: 100%;
  height: 100%;
}
.mapa iframe{

  width: 100%;
  flex-grow: 1;
}

/* ------------------------footer------------------- */
.footer-redes > a > img {
  width: 25px;
  margin: 0px;
}

.footer-redes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20%;
  justify-content: space-evenly;

  align-content: center;
}

.footer-contactos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  color: #000;
  justify-content: space-evenly;
}
.footer-contactos > p {
  margin: 0px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

footer {
  /* max-width: var(--max-width); */
  margin: 0 auto;
  background-color: #f01717c2;
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  flex-direction: row;
}
.bg-opacity{
  background-color: black;
  opacity: 0.5;
}
.btn-top{
  position: fixed;
  bottom: 15px;
  right: 70px;
  height: 55px;
  width: 55px;
  opacity: 1;
  pointer-events: auto;
  border-radius: 50px;
  border:none;
  background-color: #f1772f;
  font-size: 30px;
  z-index: 1000;


}
.opacity{
  opacity: 0;
  pointer-events: none;
}
.btn-top:hover{
  cursor: pointer;

}
.btn_carrito{
  display: block;
  position: fixed;
  bottom: 0;
  left:0;
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  background-color: #f1772f;
  
}
.btn_carrito:hover{
  opacity: .9;
}
.num_compras{
  position:absolute;
  background-color: rgb(238, 68, 68);
  border-radius: 50px;
  font-size: 18px;
  height: 25px;
  width: 25px;
  top:-20%;
  right: -20%;
  font-weight: 800;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid black
}

.animation_num_compras{
  animation: burbuja .5s ease forwards;  
}



.list-cart{
  width: 100%;
  height: 89%;
  background-color: rgba(255, 182, 122, 0.95);
  position: fixed;
  bottom: 0;
  right: 0;
  /* opacity: .95; */
  transition: all 1s ease;
  overflow-y: auto;
  z-index: 200;    

  
}
.hide_list_cart{
  transform: translateY(150%);
  /* transition: all .1s ease; */

}
.vaciar_cart{
  font-size: 25px;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
  border:none;
  cursor: pointer;
  background-color: #f1772f;
}
.vaciar_cart:hover{
  opacity: .8;
}
.section_top_list_cart{
  display: flex;
}
.total{
  margin: 10px;
  flex-grow: 1;
  font-size: 30px;

}
.cart_cant::before{
  content: "X";

}
.total::before{
  content: "$";
}
.card_cart{
  height: 100px;
  display: flex;
  /* border: 1px solid blue; */
  margin-bottom: 10px;
  margin: 0 5px;
  /* border-top: 3px solid #f1772f; */
  border-bottom: 3px solid #f1772f;

}
.cart_divcardImg{
  max-width: 100%;
  width: 50%;
  /* overflow: hidden; */
  background-color: #fff;
  height: 100%;
}
.cart_divcardImg img{
  object-fit:cover;
  height: inherit;
  border-radius: 0px;
  
}
.cart_cardDescription{
  width: 50%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;

}
.cart_cardDescription >h2{
  font-size: 12px;

}
.cart_foot{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart_precio{
  font-size: 25px;
  margin-left: 5px;
}
.btn_sacar{
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-color: #ff5e00;
  border: none;
  font-weight: 900;
  cursor: pointer;
  

}
.btn_sacar:hover{
  opacity: .8;
}

.cart_btn_pagar{
  background-color: #fa7b26;
  border:none;
  font-size: 20px;
  font-weight: 800;
  padding: 5px 40px;
  margin-top: 10px;
  cursor: pointer;
  visibility: hidden;
}

.cart_btn_pagar:hover{
  opacity: .8;
}
.cart_precio::before{
  content: "$";
  color: #ff5e00;
  font-weight: 700;;
}

.none {
  display: none;

  
}

.aparecer{
  animation: aparecer 2s forwards;
}

.aparecerBtnScroll{
  animation: aparecerBtnScroll .8s forwards;
}
.desaparecerBtnScroll{
  animation: desaparecerBtnScroll .8s forwards;
}


/* // -----------------efecto titulos secciones ------------------- */

@keyframes aparecer {
  0%{  opacity:0;
  font-size: 0;}
 
  100%{opacity:1;
      font-size: 36px;}
  }  

  /* // -----------------efecto titulos secciones ------------------- */



/* ---------------------TABLET----------------------- */

@media only screen and (min-width: 768px) {
  .card {
    width: 45%;
    /* overflow: hidden; */
  }
}
/* ---------------------------- */
/* ---------------------DESKTOP----------------------- */
@media only screen and (min-width: 1200px) {

  .search {
    display: block;
    margin-right: 10px;

  }
  .ico-search {
    color: #ffffff;
    margin-right: 10px;
  }
  .ico-search:hover {
    color: #f1772f;
    margin-right: 10px;
  }
  .input_search {
    padding: 5px;
    font-size: 16px;
    border: none;
    outline: none;
  }

  .input_search:focus {
    background-color: #f1772f;
    color: #ffffff;
  }

  .search > i {
    margin-right: 10px;
    color: #ffffff;
  }
  .right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  .btn_carrito{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin-top: 15px;
    border: none;
    
  }
  .num_compras{
    position:absolute;
    font-size: 18px;
    
  }

  .btn_carrito:hover{
    opacity: .8;
  }
  .list-cart{
    width: 350px;
    height: auto;
    background-color: rgba(255, 182, 122, 0.95);

    position: fixed;
    top: 172px;
    /* right: 125px; */
    transform: translate(-10%, 0%);

    left: unset;
    /* opacity: .95; */
    /* transition: all .1s ease; */
    overflow-y: auto;    
    z-index: 200;    
    /* display: flex;
    flex-direction: column; */
    

  }
  .section_foot_list_cart{
    /* background-color: red; */
    width: 100%;
    display: block;
  }
  
  .hide_list_cart{
    transform: translate(-10%, -150%);
    opacity: 0;
    /* transition: all 1s ease; */

  }
 
    .menu_bars {
    display: none;
  }
  .logo {
    height: 120px;
    width: 120px;
  }

  .logotxt {
    font-size: 100px;
  }

  .header {
    position: sticky;
    z-index: 999;
    background-color: #272727;
    opacity: 1;
    /* background-color: red  ; */
  }

  .desktop-header {
    
    height: 100%;
  
  }

  .header-container {
    max-width: var(--max-width);
    height: inherit;
  }

  .menu {
    position: sticky;
    padding: 0;
    width: 100%;
    opacity: 1;
    pointer-events: auto;
    border-top:1px solid #c2c2c2 ;
    border-bottom:1px solid #c2c2c2 ;
  }



  .menu-ul {
    flex-direction: row;
  }

  .menu-li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  
  }
  .principal {
    min-height: 78vh;
    background-size: 200%;
    position: relative;
    background-position: 20%;
    justify-content: space-around;
  }
  .principal-h1 > h1 {
    font-size: 48px;
    padding: 50px 300px;
    z-index: 400;
  }
  .titulo-hamburguesas,
  .titulo-bebidas,
  .titulo-ensaladas,
  .titulo-promos,
  .titulo-contactos {
    padding: 0 50px;
    font-size: 96px;
    padding-top: 160px;
    position: relative;
    z-index: 100;
    
  }


  .cards_comida,
  .cards_bebida,
  .cards_ensalada,
  .cards_promo {
    justify-content: center;
  }
  .card {
    width: 20%;

    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px 10px;
    height: 480px;
    justify-content: flex-start;
  }
  /* .card:hover {
    box-shadow: 2px 2px 5px #a5a5a5;
    transition: all 0.5s ease;
  } */

  .imgcard {
    object-fit: cover;
    /* min-height: 450px; */
    max-width: 100%;
    max-height: auto;
    height: 100%;
  }
  .cardDescription {
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
  }

  .divcardImg {
    width: 100%;
    height: 50%;
    
  }
  .cardTitulo {
    font-family: SansationRegular;
    padding: 10px;
  }
  .cardTexto {
    margin: 0px;
    font-family: SansationRegular;
    padding: 10px;
    min-height: 120px;
  }
  .precio {
    align-self: flex-end;
    margin: 0;
    margin-right: 15px;
  }

  .form {
    width: 47%;
    margin: 0px;
    padding: 10px;
    /* background-color: #ff00003a; */
  }

  .frm_label {
    width: 100%;
    
  }
  .frm_name,
  .frm_dir,
  .frm_email,
  .frm_asunto,
  .frm_msg{
    width: 95%;
  
  }

  .ubicacion {
    width: 47%;
    margin: 15px;
  }

  .footer-redes > a > img {
      width: 40px;
    margin-left: 25px;
  }
  .footer-redes {
    flex-direction: column;
  }

  .footer-contactos > p {
    margin: 5px;
    font-size: 24px;
  }

  /* aca ahora */
.card_cart_animation{
  transition: opacity 1s ease;
  opacity: 1;
}
  @keyframes aparecer {
    0%{  opacity:0;
    font-size: 0;
}
   
    100%{opacity:1;
        font-size: 96px;

      }
    }  
    


}


@keyframes burbuja {
0%{  height: 25px;
  width: 25px;}
50%{  height: 35px;
  width: 35px;}
100%{height: 25px;
  width: 25px;}  
}



  



/* // -----------------efecto boton sroll  ------------------- */

@keyframes aparecerBtnScroll {
  0%{ 
 opacity: 0;}
 
  100%{  
    opacity: 1;
  pointer-events: auto;}
  }  

  @keyframes desaparecerBtnScroll {
    0%{ 
   opacity: 1;}
   
    100%{  
      pointer-events: none;
      opacity: 0;}
    }  